.app {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  width: 100%;
}

.app__row {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  width: 100%;
}

.app__column {
  flex: 1 1 auto;
  display: flex;
  width: 100%;
}

.app__column:first-child {
  border-bottom: 1px solid var(--black);
}

@media (min-width: 920px) {
  .app__row {
    flex-direction: row;
  }

  .app__column {
    width: 50%;
  }

  .app__column:first-child {
    border-bottom: none;
    border-right: 1px solid var(--black);
  }
}