.app {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

.app__row {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
}

.app__column {
  flex: 1 1 auto;
  display: flex;
  width: 50%;
}

.app__column:first-child {
  border-right: 1px solid var(--black);
}