.pane {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

.pane:first-child {
  border-right: 1px solid var(--black);
}

.pane__title {
  padding: 5px var(--default-padding);
  background-color: var(--silver);
  color: var(--black);
  font-size: 12px;
}

.pane__content {
  font-family: 'Inconsolata', monospace;
  display: flex;
  flex: 1 1 auto;
}